<div>
    <h1>Post</h1>

    <form action="">
        <input type="number" name="userId" id="UserId" placeholder="user Id">
        <input type="number" name="id" id="id" placeholder="Post Id">
        <input type="text" name="title" id="tittle" placeholder="Title">
        <input type="text" name="post" id="body" placeholder="Post body">
        <input type="Submit" value="Send">
    </form>
    <h2>Posts</h2>
    <div id="posts"></div>

     <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
     
</div>

