<div>
    <h1>Login con Github</h1>
    <a href="/api/sessions/github"><button>Login con github</button></a>
    <br>
    <p>¿No estás registrado? <a href="/users/register">Registrate aquí</a></p>
    <p>¿Ya tienes una cuenta? <a href="/users/login">Login</a></p>
</div>

